{% extends "_base/_layout.php.twig" %}

{% block body %}

        <div class="card">
            <div class="card-header">
                <h2>@lang('admin{{ modelPlural|capitalize }}.details')</h2>
            </div>
            <div class="card-body">
                <table class="table">

                    {% for field in fields %}
                        <tr>
                            <th width="250">@lang('admin{{ modelPlural|capitalize }}.fields.{{ field['name'] }}')</th>
                            <td>{{ '{{' }} ${{ model|lower }}->{{ field['name'] }} {{ '}}' }}</td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="2">
                            <a href="{!! url( '/' . Config::get('admin.uri') . '/{{ modelPlural|lower }}/' . ${{ model|lower }}->id . '/edit' ) !!}" class="btn btn-primary btn-sm">@lang('admin{{modelPlural}}.edit')</a>
                            &nbsp;
                            <form action="{!! url( '/' . Config::get('admin.uri') . '/{{ modelPlural|lower }}/' . ${{ model|lower }}->id ) !!}" method="post" class="deleteForm">
                                <?= csrf_field() ?>
                                <?= method_field('DELETE') ?>
                                <button type="submit" class="btn btn-danger confirmDelete">@lang('admin{{modelPlural}}.delete')</button>
                            </form>
                        </td>
                    </tr>

              </table>

            </div>
        </div>

{% endblock %}
