{% extends "_base/_layout.php.twig" %}
{% block body %}

        @include('admin::partials.alerts')

        <form action="{!! isset(${{ model|lower }}) ? url( '/' . Config::get('admin.uri') . '/{{ modelPlural|lower }}/' . ${{ model|lower }}->id ) : url( '/' . Config::get('admin.uri') . '/{{ modelPlural|lower }}' ) !!}" method="post" id="{{model}}Form" class="form-horizontal" role="form">

            @if( isset(${{ model|lower }}) )
                <?= method_field('PATCH') ?>
            @endif

            <div class="card">
                <div class="card-header">
                    <h2>@lang('admin{{ modelPlural|capitalize }}.details')</h2>
                </div>
                <div class="card-body card-padding">

                    <input type="hidden" name="_token" value="<?= csrf_token() ?>" />

                    @if( isset(${{ model|lower }}) )

                        <input type="hidden" name="id" id="id" value="<?= ${{ model|lower }}->id ?>" />

                    @endif

                    {% for field in fields %}
                    {% if not field['protected'] %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="{{ field['name'] }}">@lang('admin{{ modelPlural|capitalize }}.fields.{{ field['name'] }}')</label>
                        <div class="col-sm-10">
                            <div class="fg-line">
                                <input type="text" class="form-control required" name="{{ field['name'] }}" id="{{ field['name'] }}" value="<?= old('{{field['name']}}', isset(${{ model|lower }}->{{ field['name'] }}) ? ${{ model|lower }}->{{ field['name'] }} : '') ?>" />
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-2">
                            <button type="submit" class="btn btn-primary waves-effect">
                                @if(!empty(${{ model|lower }}->id))
                                    @lang('admin{{ modelPlural|capitalize }}.update')
                                @else
                                    @lang('admin{{ modelPlural|capitalize }}.create')
                                @endif
                            </button>
                            <a href="{!! url( '/' . Config::get('admin.uri') . '/{{ modelPlural|lower }}' ) !!}" class="btn palette-Blue-Grey m-l-10 bg waves-effect">@lang('admin{{ modelPlural|capitalize }}.cancel')</a>
                        </div>
                    </div>

                </div>
            </div>
        </form>

{% endblock %}
