{% extends "_base/_layout.php.twig" %}

{% block body %}

        <a href="{!! url( '/' . Config::get('admin.uri') . '/{{ modelPlural|lower }}/create' ) !!}" class="btn btn-float btn-danger m-btn waves-effect waves-circle waves-float"><i class="zmdi zmdi-plus"></i></a>

        <div class="card ">
            <div class="card-header">
                <h2>@lang('admin{{ modelPlural|capitalize }}.search')</h2>
            </div>
            <div class="card-body card-padding">

                <form action="" method="GET" class="row" role="form">
                    <div class="col-sm-5">
                        <div class="form-group fg-line">
                            <label class="sr-only" for="q">@lang('admin{{ modelPlural|capitalize }}.search')</label>
                            <input type="text" name="q" id="q" class="form-control input-sm" value="<?= old('q', request('q')) ?>" placeholder="@choice('admin{{ modelPlural|capitalize }}.title', 1)" />
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="fg-line">
                                <div class="select">
                                    <select name="sort" class="form-control input-sm">
                                        <option value="">@lang('admin{{ modelPlural|capitalize }}.order')</option>
                                        <option value="created_at" <?= old('sort') == 'created_at' ? 'selected="selected"' : "" ?>>@lang('admin{{ modelPlural|capitalize }}.fields.created_at')</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary btn-sm m-t-5 waves-effect"><i class="zmdi zmdi-search"></i> @lang('admin{{ modelPlural|capitalize }}.search')</button>
                        <a href="{!! url( '/' . Config::get('admin.uri') . '/{{ modelPlural|lower }}' ) !!}" style="" class="btn palette-Blue-Grey bg btn-sm m-t-5 m-l-10 waves-effect">@lang('admin{{ modelPlural|capitalize }}.clear')</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h2>@lang('admin{{ modelPlural|capitalize }}.results')</h2>
            </div>
            <!-- Main content -->
            <div class="card-body table-responsive">

                <table class="table">

                    <tr>
{% for field in fields %}
{% if field['display'] %}
                            <th>@lang('admin{{ modelPlural|capitalize }}.fields.{{field['name']}}')</th>
{% endif %}
{% endfor %}
                        <th></th>
                    </tr>

                    @foreach(${{modelPlural|lower}} as ${{model}})

                        <tr>
{% for field in fields %}
{% if field['display'] %}
                            <td>{{ '{{' }} ${{model}}->{{field['name']}} {{ '}}' }}</td>
{% endif %}
{% endfor %}
                            <td style="text-align:center;">
                                <a href="{!! url( '/' . Config::get('admin.uri') . '/{{ modelPlural|lower }}/' . ${{model}}->id ) !!}" class="btn btn-info btn-sm">@lang('admin{{ modelPlural|capitalize }}.details')</a>
                                <a href="{!! url( '/' . Config::get('admin.uri') . '/{{ modelPlural|lower }}/' . ${{model}}->id . '/edit' ) !!}" class="btn btn-primary btn-sm m-l-10">@lang('admin{{ modelPlural|capitalize }}.edit')</a>
                                <form action="{!! url( '/' . Config::get('admin.uri') . '/{{ modelPlural|lower }}/' . ${{ model }}->id ) !!}" method="post" class="deleteForm m-l-10">
                                    <?= csrf_field() ?>
                                    <?= method_field('DELETE') ?>
                                    <button type="submit" class="btn btn-danger confirmDelete">@lang('admin{{modelPlural}}.delete')</button>
                                </form>
                            </td>
                        </tr>

                    @endforeach

                </table>

            </div>

            <div class="card-body card-padding">

                <p><strong>@lang('admin{{ modelPlural|capitalize }}.total'): {!! ${{ modelPlural|lower }}Count !!}</strong></p>

                <div class="box-tools pull-right">
                    {!! ${{ modelPlural|lower }}->appends(['q' => request('q'), 'sort' => request('sort')])->render() !!}
                </div>

            </div>
        </div>

{% endblock %}
