@extends('admin::layout.site')

@section('body')

    <div class="container">
        <div class="c-header">
            <h2>@choice('admin{{ modelPlural|capitalize }}.title', 2)</h2>
        </div>
        {% block body %}
        {% endblock %}

    </div>

@stop
