<?php

return [
    "title" => "{{model|capitalize}}|{{modelPlural|capitalize}}",
    "search" => "Search",
    "order" => "Order",
    "clear" => "Clear",
    "results" => "Results",
    "details" => "Details",
    "edit" => "Edit",
    "delete" => "Delete",
    "total" => "Total",
    "cancel" => "Cancel",
    "update" => "Update",
    "create" => "Create",
    "fields" => [
{% for field in fields %}
        "{{field['name']}}" => "{{ field['name']|replace({'_':' '})|title }}",
{% endfor %}
    ]
];
