<?php namespace App\Models;

use Admin\Traits\Models\Api;
use Admin\Traits\Models\Dynamic;
use Illuminate\Database\Eloquent\Model;
use Illuminate\Database\Eloquent\SoftDeletes;

class {{ model|capitalize }} extends Model
{

    /**
     * Include Api Trait so it's available to the model
     */
    use Api{% for field in fields if field.name == 'deleted_at' %}, SoftDeletes{% endfor %};

    /**
     * The Table Name inside the database
     *
     * @var string
     */
    protected $table = '{{ table }}';

    /**
     * The attributes that are mass assignable
     *
     * @var array
     */
    protected $fillable = [
{% for field in fields %}{% if not field['protected'] %}
        '{{field['name']}}',
{% endif%}{% endfor %}

    ];

    /**
     * The attributes that can be searched using the API Trait
     *
     * @var array
     */
    protected $searchable = [
{% for field in fields %}{% if not field['protected'] %}
        '{{field['name']}}',
{% endif%}{% endfor %}

    ];


    ////////////
    // SCOPES //
    ////////////


    ////////////
    // EVENTS //
    ////////////


    ///////////////////
    // RELATIONSHIPS //
    ///////////////////


}
