<?php

namespace App\Http\Controllers\Admin;

use Config;
use App\Models\{{ model|capitalize }};
use Illuminate\Http\Request;
use App\Http\Controllers\Controller;
use Illuminate\Support\Facades\Validator;

class {{className}}Controller extends Controller
{

    public $take = 30;

    public $request;

    public function __construct(Request $request) {

        $this->request = $request;

    }

    private function validator(array $data, $customRules = null) {
        $rules = [
            {% for field in fields %}
'{{ field['name'] }}' => '{{ field['required'] ? 'required|' : '' }}{{ field['type'] }}{{ field['nullable'] ? '|nullable' : '' }}',
            {% endfor %}
];

        if($customRules) {
            foreach($customRules as $key => $value){
                $rules[$key] = $value;
            }
        }

        return Validator::make($data, $rules);

    }

    /**
     * Display a listing of the resource.
     *
     * @return \Illuminate\Http\Response
     */
    public function index()
    {

        ${{ modelPlural|lower }} = {{ model|capitalize }}::filter( $this->request->all() )->order( $this->request->input('sort', null) )->paginate( $this->take );
        ${{ modelPlural|lower }}Count = {{ model|capitalize }}::filter( $this->request->all() )->count();

        return view('admin.{{ modelPlural|lower }}.index')->with( compact('{{ modelPlural|lower }}', '{{ modelPlural|lower }}Count') );

    }

    /**
     * Show the form for creating a new resource.
     *
     * @return \Illuminate\Http\Response
     */
    public function create()
    {

        return view('admin.{{ modelPlural|lower }}.form');

    }

    /**
     * Store a newly created resource in storage.
     *
     * @param  \Illuminate\Http\Request  $request
     * @return \Illuminate\Http\Response
     */
    public function store(Request $request)
    {

        $this->validator($request->all(), ['id' => 'string'])->validate();

        ${{ model|lower }} = new {{ model|capitalize }};

{% for field in fields %}{% if not field['protected'] %}        ${{ model|lower }}->{{field['name']}} = $request->input('{{field['name']}}');
{% endif %}{% endfor %}

        ${{ model|lower }}->save();

        return redirect( Config::get('admin.uri') . '/{{ modelPlural|lower }}/' . ${{ model|lower }}->id );

    }

    /**
     * Display the specified resource.
     *
     * @param  int  $id
     * @return \Illuminate\Http\Response
     */
    public function show($id)
    {

        ${{ model|lower }} = {{ model|capitalize }}::findOrFail( $id );

        return view('admin.{{ modelPlural|lower }}.details')->with( compact('{{ model|lower }}') );

    }

    /**
     * Show the form for editing the specified resource.
     *
     * @param  int  $id
     * @return \Illuminate\Http\Response
     */
    public function edit($id)
    {

        ${{ model|lower }} = {{ model|capitalize }}::findOrFail( $id );

        return view('admin.{{ modelPlural|lower }}.form')->with( compact('{{ model|lower }}') );

    }

    /**
     * Update the specified resource in storage.
     *
     * @param  \Illuminate\Http\Request  $request
     * @param  int  $id
     * @return \Illuminate\Http\Response
     */
    public function update(Request $request, $id)
    {

        $this->validator($request->all())->validate();

        ${{ model|lower }} = {{ model|capitalize }}::findOrFail( $id );

{% for field in fields %}{% if not field['protected'] %}        ${{ model|lower }}->{{field['name']}} = $request->input('{{field['name']}}');
{% endif %}{% endfor %}

        ${{ model|lower }}->save();

        return redirect( Config::get('admin.uri') . '/{{ modelPlural|lower }}/' . ${{ model|lower }}->id );

    }

    /**
     * Remove the specified resource from storage.
     *
     * @param  int  $id
     * @return \Illuminate\Http\Response
     */
    public function destroy($id)
    {

        ${{ model|lower }} = {{ model|capitalize }}::findOrFail( $id );

        ${{ model|lower }}->delete();

        return redirect( Config::get('admin.uri') . '/{{ modelPlural|lower }}' );

    }
}
